/Vegan-Meal/nbproject/private/
/Vegan-Meal/build/
/Vegan-Meal/dist/
/Test/nbproject/private/
/Test/build/
/HealthyMeal/HealthyMeal/build/
/HealthyMeal/HealthyMeal/dist/
/HealthyMeal/HealthyMeal/nbproject/private/