/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.header {
  background-color: #fff;
}
.header-bottom {
  background-color: green;
  height: 100%;
  align-items: center;
  padding-right: 140px;
  margin: 0 auto;
}

.nav-bar a,
ul {
  text-decoration: none;
  list-style: none;
}

.top-search .search {
  background-color: #f9f9f9;
  width: 40%;
  height: 100%;
  border: solid 1px #e0e0e0;
  border-radius: 50px;
  padding: 0 45px 0 20px;
  color: #757575;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  height: 44px;
}

.search-form {
  position: relative;
}
.search-form button {
  position: absolute;
  top: 0;
  right: 31%;
  height: 100%;
  color: black;
  font-size: 15px;
  border: none;
  background: 0 0;
  height: 100%;
}

.nav-bar-right a i {
  font-size: 25px;
  color: orange;
}

.header-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-bottom ul li {
  display: inline;
}
.header-bottom ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
  transition: color 0.3s, border-bottom 0.3s;
}
.header-bottom ul li a:hover {
  color: red;
  border-bottom: 2px solid red;
}
