<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- font-aewsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <!-- my css -->
  <link rel="stylesheet" href="./asset/header.css" />
</head>

<body>
  <div class="header my-3">
    <div class="nav-bar row">
      <div class="nav-bar-left row col-md-10">
        <h2 class="col-md-2 text-center"><a href="#">Vegan</a></h2>

        <div class="top-search col-md-10">
          <form class="search-form text-center" action="#">
            <input class="search" />
            <button>
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="nav-bar-right row col-md-2 justify-content-center align-items-center">
        <div class="user col-md-3">
          <a href="./login.html"><i class="fa fa-user "></i></a>
        </div>
        <div class="shoping-cart col-md-3 pointer">
          <a href=""><i class="fa fa-shopping-cart "></i></a>
        </div>
      </div>
      <div class="header-bottom d-flex justify-content-center my-3 py-2">
        <ul class="d-flex justify-content-center align-items-center my-2">
          <li class="mx-4"><a href="#">Home</a></li>
          <li class="mx-4"><a href="#">Category</a></li>
          <li class="mx-4"><a href="#">About us</a></li>
          <li class="mx-4"><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>





<!-- dish detail -->

<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="./asset/dishDetail.css">
</head>

<body>

  <!-- <div class="DishDetail mt-4">
    <div class="top d-flex justify-content-center align-items-center">
      <div class="left">
        <div>
          <img
            src="https://veganessentials.com/cdn/shop/files/EatMeati-CarneAsadaSteaks_8.8oz_350x350.jpg?v=1694186339" />
        </div>
      </div>
      <div class="right">
        <div>
          <h2 class="mb-4">Eat Meati - Carne Asada Steaks, 8.8oz</h2>
          <div class="stockStutus mb-4">In stock</div>
          <div><strong class="priceStrong">$15.39</strong></div>
        </div>
      </div>
    </div>
    <div class="bottom"></div>
  </div> -->
  <div class="single-product  ">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="single-product-img">
            <img
              src="https://veganessentials.com/cdn/shop/files/EatMeati-CarneAsadaSteaks_8.8oz_350x350.jpg?v=1694186339"
              alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="single-product-content">
            <h3>Green apples have polyphenols</h3>
            <p class="single-product-pricing"><span>Per Kg</span> $50</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sint dignissimos, rem commodi cum
              voluptatem quae reprehenderit repudiandae ea tempora incidunt ipsa, quisquam animi perferendis eos eum
              modi! Tempora, earum.</p>
            <div class="single-product-form">
              <form action="index.html">
                <input class="input" type="number" placeholder="0">
              </form>
              <div class="stockStutus mb-4">In Stock</div>
              <div><a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-box about-widget">
            <h2 class="widget-title">About us</h2>
            <p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box get-in-touch">
            <h2 class="widget-title">Get in Touch</h2>
            <ul>
              <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
              <li>support@fruitkha.com</li>
              <li>+00 111 222 3333</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box pages">
            <h2 class="widget-title">Pages</h2>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Shop</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box subscribe">
            <h2 class="widget-title">Subscribe</h2>
            <p>Subscribe to our mailing list to get the latest updates.</p>
            <form action="index.html">
              <input type="email" placeholder="Email">
              <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>
