<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>test1</servlet-name>
        <servlet-class>controller.test1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseOrderServlet</servlet-name>
        <servlet-class>controller.PurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>admin.ChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>admin.ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDishServlet</servlet-name>
        <servlet-class>controller.GetDishServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>controller.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItem</servlet-name>
        <servlet-class>controller.DeleteCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>controller.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDishDetail</servlet-name>
        <servlet-class>controller.GetDishDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDishDetail</servlet-name>
        <servlet-class>controller.UpdateDishDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDishesByCidHomePage</servlet-name>
        <servlet-class>controller.GetDishesByCidHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAdmin</servlet-name>
        <servlet-class>admin.ViewAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrder</servlet-name>
        <servlet-class>admin.ManageOrder</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>admin.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>admin.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUser</servlet-name>
        <servlet-class>admin.InsertUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProduct</servlet-name>
        <servlet-class>admin.ManageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersHistoryServlet</servlet-name>
        <servlet-class>controller.OrdersDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersHisDetailServlet</servlet-name>
        <servlet-class>controller.OrdersHisDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProduct</servlet-name>
        <servlet-class>admin.InsertProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <servlet-class>admin.DeleteFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>admin.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCategory</servlet-name>
        <servlet-class>admin.ManageCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>admin.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategory</servlet-name>
        <servlet-class>admin.EditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCategory</servlet-name>
        <servlet-class>admin.InsertCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestPassword</servlet-name>
        <servlet-class>resetPassword.requestPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>resetPassword.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishListServlet</servlet-name>
        <servlet-class>controller.WishListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test1</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseOrderServlet</servlet-name>
        <url-pattern>/PurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/ChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/ManageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDishServlet</servlet-name>
        <url-pattern>/GetDishServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItem</servlet-name>
        <url-pattern>/DeleteCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDishDetail</servlet-name>
        <url-pattern>/GetDishDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDishDetail</servlet-name>
        <url-pattern>/UpdateDishDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDishesByCidHomePage</servlet-name>
        <url-pattern>/GetDishesByCidHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAdmin</servlet-name>
        <url-pattern>/ViewAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrder</servlet-name>
        <url-pattern>/ManageOrder</url-pattern>
    </servlet-mapping>
    <!-- Filter Definitions -->
    <filter>
        <filter-name>AuthorFilter</filter-name>
        <filter-class>Filter.AuthorFilter</filter-class>
    </filter>
    <!-- Filter Mappings -->
    <filter-mapping>
        <filter-name>AuthorFilter</filter-name>
        <url-pattern>/ViewAdmin</url-pattern>
        <url-pattern>/AdminServlet</url-pattern>
        <url-pattern>/ManageOrder</url-pattern>
        <url-pattern>/ManageUser</url-pattern>
        <url-pattern>/ChartServlet</url-pattern>
    </filter-mapping>
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUser</servlet-name>
        <url-pattern>/InsertUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProduct</servlet-name>
        <url-pattern>/ManageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersHistoryServlet</servlet-name>
        <url-pattern>/OrdersHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersHisDetailServlet</servlet-name>
        <url-pattern>/OrdersHisDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProduct</servlet-name>
        <url-pattern>/InsertProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <url-pattern>/DeleteFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCategory</servlet-name>
        <url-pattern>/ManageCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name>
        <url-pattern>/EditCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCategory</servlet-name>
        <url-pattern>/InsertCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestPassword</servlet-name>
        <url-pattern>/requestPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishListServlet</servlet-name>
        <url-pattern>/WishListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
